//-
 * Created by luoyin.
 * Date: 2016/12/18
 * Time: 21:24
 //--------------------------
extends views/layout/layout

block head
  //-增加的head
    **********
  title title
block body
  #page-wrapper
    include views/header
    include views/container
    include views/footer
